<form action="#" method="POST">

  <div class="error"></div>

  <label>
    <span>Email:</span>
    <input type="email">
  </label>

  <label>
    <span>Password:</span>
    <input type="password">
  </label>

  <div class="buttons">
    <input class="button" type="submit" value="Login">
    <a class="button" href="/register">Register</a>
  </div>

</form>
