<form action="#" method="POST">

  <div class="error"></div>

  <label>
    <span>Name:</span>
    <input type="text">
  </label>

  <label>
    <span>Email:</span>
    <input type="email">
  </label>

  <label>
    <span>Password:</span>
    <input type="password">
  </label>

  <div class="buttons">
    <input class="button" type="submit" value="Register">
    <a class="button" href="/login">Login</a>
  </div>

</form>
