<div class="modal-background"></div>
<div class="modal">
  <header class="modal-header">
    <div class="modal-title"></div>
    <div class="modal-close"></div>
  </header>

  <section class="modal-content">
    <%= yield %>
  </section>
</div
